{
  "presets": [
    [
      "env",
      {
        "debug": false,
        "targets": {
          "node": "current"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": ["babel-plugin-transform-object-rest-spread"]
}
