.container {
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  line-height: 2rem;
}

.container a {
  align-items: center;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  padding: 0 0.5rem;
  position: relative;
  text-decoration: none;
}

.container a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  opacity: 1;
}

.week  {
  font-size: 1rem;
  margin: 0 0.5rem;
}
