.container {
}

.menu {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
}

.heading {
  font-weight: lighter;
  margin: 1.5em 0;
  color: #fff;
}

.menuButton {
  font-size: 16px;
  display: block;
  padding: 50px;
  margin: 10px;
  background-color: darkred;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}

.menuButton:hover {
  background-color: red;
}
